--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: addon; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.addon (
    id bigint NOT NULL,
    name character varying(255),
    per_night boolean NOT NULL,
    unit_id bigint
);


--
-- Name: addon_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.addon ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.addon_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_user; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.app_user (
    id bigint NOT NULL,
    email character varying(255),
    first_name character varying(255),
    last_name character varying(255),
    password character varying(255),
    phone_number character varying(255),
    role character varying(255),
    CONSTRAINT app_user_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'USER'::character varying, 'OWNER'::character varying])::text[])))
);


--
-- Name: app_user_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.app_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bookable_unit; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.bookable_unit (
    id bigint NOT NULL,
    double_beds integer NOT NULL,
    max_adult_capacity integer NOT NULL,
    max_capacity integer NOT NULL,
    max_kids_capacity integer NOT NULL,
    name character varying(255),
    single_beds integer NOT NULL,
    square_meters double precision NOT NULL,
    total_units integer NOT NULL,
    property_id bigint
);


--
-- Name: bookable_unit_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.bookable_unit ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bookable_unit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: booking; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.booking (
    id bigint NOT NULL,
    check_in timestamp(6) without time zone,
    check_out timestamp(6) without time zone,
    created_at date,
    status character varying(255),
    total_price double precision,
    unit_id bigint,
    guest_id bigint,
    CONSTRAINT booking_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'CONFIRMED'::character varying, 'CANCELLED'::character varying, 'COMPLETED'::character varying])::text[])))
);


--
-- Name: booking_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.booking ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.booking_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: contact_person; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.contact_person (
    id bigint NOT NULL,
    user_id bigint,
    property_id bigint
);


--
-- Name: contact_person_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.contact_person ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.contact_person_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: fascillity; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.fascillity (
    id bigint NOT NULL,
    name character varying(255)
);


--
-- Name: fascillity_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.fascillity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.fascillity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: period_price; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.period_price (
    id bigint NOT NULL,
    end_date date,
    price_per_night double precision NOT NULL,
    season character varying(255),
    start_date date,
    unit_id bigint
);


--
-- Name: period_price_addon; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.period_price_addon (
    id bigint NOT NULL,
    end_date date,
    price double precision NOT NULL,
    start_date date,
    addon_id bigint
);


--
-- Name: period_price_addon_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.period_price_addon ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.period_price_addon_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: period_price_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.period_price ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.period_price_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: property; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.property (
    id bigint NOT NULL,
    address character varying(255),
    city character varying(255),
    country character varying(255),
    description character varying(255),
    house_rules character varying(255),
    important_info character varying(255),
    name character varying(255),
    owner_id bigint,
    type_id bigint
);


--
-- Name: property_facility; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.property_facility (
    id bigint NOT NULL,
    facility_id bigint,
    property_id bigint
);


--
-- Name: property_facility_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.property_facility ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.property_facility_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: property_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.property ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.property_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: property_image; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.property_image (
    id bigint NOT NULL,
    content_type character varying(255),
    is_primary boolean,
    s3_key character varying(255),
    sort_order integer,
    url character varying(255),
    property_id bigint
);


--
-- Name: property_image_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.property_image ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.property_image_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: property_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.property_type (
    type_id bigint NOT NULL,
    name character varying(255)
);


--
-- Name: property_type_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.property_type ALTER COLUMN type_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.property_type_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: review; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.review (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    rating integer NOT NULL,
    text character varying(255),
    property_id bigint,
    reviewer_id bigint
);


--
-- Name: review_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: unit_fascility_mapping; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.unit_fascility_mapping (
    id bigint NOT NULL,
    unit_id bigint,
    unit_facility_id bigint
);


--
-- Name: unit_fascility_mapping_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.unit_fascility_mapping ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.unit_fascility_mapping_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: unit_fascillity; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.unit_fascillity (
    id bigint NOT NULL,
    name character varying(255)
);


--
-- Name: unit_fascillity_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.unit_fascillity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.unit_fascillity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: unit_image; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.unit_image (
    id bigint NOT NULL,
    is_primary boolean,
    s3_key character varying(255),
    sort_order integer,
    url character varying(255),
    unit_id bigint
);


--
-- Name: unit_image_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.unit_image ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.unit_image_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: addon addon_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.addon
    ADD CONSTRAINT addon_pkey PRIMARY KEY (id);


--
-- Name: app_user app_user_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT app_user_pkey PRIMARY KEY (id);


--
-- Name: bookable_unit bookable_unit_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bookable_unit
    ADD CONSTRAINT bookable_unit_pkey PRIMARY KEY (id);


--
-- Name: booking booking_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT booking_pkey PRIMARY KEY (id);


--
-- Name: contact_person contact_person_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.contact_person
    ADD CONSTRAINT contact_person_pkey PRIMARY KEY (id);


--
-- Name: fascillity fascillity_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fascillity
    ADD CONSTRAINT fascillity_pkey PRIMARY KEY (id);


--
-- Name: period_price_addon period_price_addon_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.period_price_addon
    ADD CONSTRAINT period_price_addon_pkey PRIMARY KEY (id);


--
-- Name: period_price period_price_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.period_price
    ADD CONSTRAINT period_price_pkey PRIMARY KEY (id);


--
-- Name: property_facility property_facility_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_facility
    ADD CONSTRAINT property_facility_pkey PRIMARY KEY (id);


--
-- Name: property_image property_image_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_image
    ADD CONSTRAINT property_image_pkey PRIMARY KEY (id);


--
-- Name: property property_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property
    ADD CONSTRAINT property_pkey PRIMARY KEY (id);


--
-- Name: property_type property_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_type
    ADD CONSTRAINT property_type_pkey PRIMARY KEY (type_id);


--
-- Name: review review_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT review_pkey PRIMARY KEY (id);


--
-- Name: unit_fascility_mapping unit_fascility_mapping_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.unit_fascility_mapping
    ADD CONSTRAINT unit_fascility_mapping_pkey PRIMARY KEY (id);


--
-- Name: unit_fascillity unit_fascillity_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.unit_fascillity
    ADD CONSTRAINT unit_fascillity_pkey PRIMARY KEY (id);


--
-- Name: unit_image unit_image_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.unit_image
    ADD CONSTRAINT unit_image_pkey PRIMARY KEY (id);


--
-- Name: property_facility fk3o1d9fmvy5kqlgf9gjmkoxhr4; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_facility
    ADD CONSTRAINT fk3o1d9fmvy5kqlgf9gjmkoxhr4 FOREIGN KEY (facility_id) REFERENCES public.fascillity(id);


--
-- Name: period_price_addon fk4blf7g4mo8qptstxdygej600e; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.period_price_addon
    ADD CONSTRAINT fk4blf7g4mo8qptstxdygej600e FOREIGN KEY (addon_id) REFERENCES public.addon(id);


--
-- Name: contact_person fk4cci8dsovnltdhstlbys4wd1g; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.contact_person
    ADD CONSTRAINT fk4cci8dsovnltdhstlbys4wd1g FOREIGN KEY (property_id) REFERENCES public.property(id);


--
-- Name: review fk4r8tpgi3hq2ldtvry1gh0vgo; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT fk4r8tpgi3hq2ldtvry1gh0vgo FOREIGN KEY (property_id) REFERENCES public.property(id);


--
-- Name: period_price fk5gtqm7fqrag8cpxp5mh2dvjry; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.period_price
    ADD CONSTRAINT fk5gtqm7fqrag8cpxp5mh2dvjry FOREIGN KEY (unit_id) REFERENCES public.bookable_unit(id);


--
-- Name: unit_fascility_mapping fk7a4g72k6ibfkh7b7tscfjxak3; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.unit_fascility_mapping
    ADD CONSTRAINT fk7a4g72k6ibfkh7b7tscfjxak3 FOREIGN KEY (unit_id) REFERENCES public.bookable_unit(id);


--
-- Name: property_image fk8myddv2ina4svuo189ju03v9o; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_image
    ADD CONSTRAINT fk8myddv2ina4svuo189ju03v9o FOREIGN KEY (property_id) REFERENCES public.property(id);


--
-- Name: property fkdkg4qjxp7b6dc5x6bn3hik60n; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property
    ADD CONSTRAINT fkdkg4qjxp7b6dc5x6bn3hik60n FOREIGN KEY (type_id) REFERENCES public.property_type(type_id);


--
-- Name: review fkdksd7fbjmi2jpt8dsg27etnh2; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT fkdksd7fbjmi2jpt8dsg27etnh2 FOREIGN KEY (reviewer_id) REFERENCES public.app_user(id);


--
-- Name: property fkeq67n5f3mtulr1xr3kpam3rtn; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property
    ADD CONSTRAINT fkeq67n5f3mtulr1xr3kpam3rtn FOREIGN KEY (owner_id) REFERENCES public.app_user(id);


--
-- Name: unit_image fkew2snd8n0uxg6rnwcvpkwhgto; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.unit_image
    ADD CONSTRAINT fkew2snd8n0uxg6rnwcvpkwhgto FOREIGN KEY (unit_id) REFERENCES public.bookable_unit(id);


--
-- Name: addon fkii7vy8ug5ki0a4bwcio18dsmf; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.addon
    ADD CONSTRAINT fkii7vy8ug5ki0a4bwcio18dsmf FOREIGN KEY (unit_id) REFERENCES public.bookable_unit(id);


--
-- Name: unit_fascility_mapping fkm26ya7cpb7mylwtdcor06e48f; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.unit_fascility_mapping
    ADD CONSTRAINT fkm26ya7cpb7mylwtdcor06e48f FOREIGN KEY (unit_facility_id) REFERENCES public.unit_fascillity(id);


--
-- Name: booking fkmyxajnpq2hoqi99t49aeiocea; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT fkmyxajnpq2hoqi99t49aeiocea FOREIGN KEY (unit_id) REFERENCES public.bookable_unit(id);


--
-- Name: booking fkn1qkrgkmq2nogwgyrqb099d77; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT fkn1qkrgkmq2nogwgyrqb099d77 FOREIGN KEY (guest_id) REFERENCES public.app_user(id);


--
-- Name: bookable_unit fkq31hsashkrt0nb4717sdxjm6l; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bookable_unit
    ADD CONSTRAINT fkq31hsashkrt0nb4717sdxjm6l FOREIGN KEY (property_id) REFERENCES public.property(id);


--
-- Name: property_facility fks4q7v9o9en1gje5q1tpi5c32v; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_facility
    ADD CONSTRAINT fks4q7v9o9en1gje5q1tpi5c32v FOREIGN KEY (property_id) REFERENCES public.property(id);


--
-- Name: contact_person fksu9js281xnb8p1cwqukt3odog; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.contact_person
    ADD CONSTRAINT fksu9js281xnb8p1cwqukt3odog FOREIGN KEY (user_id) REFERENCES public.app_user(id);


--
-- PostgreSQL database dump complete
--

